<% provide(:title, 'Contact') %>
<div class="background-image">  
  <div class="content-box">
    <h1>Contact</h1>
    <p>
      Contact Shakin'8 through any of the channels below.
    </p>
  </div>
</div>