<div class="web-development-icon">
  <div class="big-icon">
    <%= image_tag("Blank_260x260.png", alt: "Rails", size: "260x260")%>
  </div>
  <div class="big-icon">
    <%= image_tag("web_development_260x260.png", alt: "Rails", size: "260x260")%>
  </div>
  <div class="big-icon reset-float">
    <%= image_tag("Blank_260x260.png", alt: "Rails", size: "260x260")%>
  </div>
  <div class="big-icon-labels">
	<div class="big-icon-label">
      <a>text text text</a>
	</div>
	<div class="big-icon-label">
	   <a>- Web Design -</a>
	</div>
	<div class="big-icon-label">
	  <a>text text text</a>
	</div>
  </div>
</div>