<div class="web-development-icon">
  <div class="big-icon">
    <%= image_tag("Blank_260x260.png", alt: "Rails", size: "260x260")%>
  </div>
  <div class="big-icon">
    <%= image_tag("web_development_260x260.png", alt: "Rails", size: "260x260")%>
  </div>
  <div class="big-icon">
    <%= image_tag("Blank_260x260.png", alt: "Rails", size: "260x260")%>
  </div>
</div>