<% provide(:title, 'Our Services') %>
<div class="tiled-image">
  <div class="spacer"></div>
<div class="section" id="title-gap">
    <div class="content" id="c1"></div>
</div>
<div class="section" id="s1">
    <div class="content" id="c1">This is some content text for section one</div>
</div>
<div class="section" id="s2">
    <div class="content" id="c2">This is some content text for section two</div>
</div>
<div class="section" id="s3">
    <div class="content" id="c3">This is some content text for section three</div>
</div>
<div class="section" id="s4">
    <div class="content" id="c4">This is some content text for section four</div>
</div>
</div>