<% provide(:title, 'Our Services') %>
<div class="tiled-image">
  <div class="spacer-small"></div>


<div class="parallax">
    <div id="parallax-text" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">METRICS & REPORTING</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="parallax-sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
      </div>
      <div class="parallax__layer parallax__layer--body">
        <div class="parallax-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </div>
      </div>
      <div class="parallax__layer parallax__layer--image">
        <div class="parallax-image"><%= image_tag("services/marketing300x300.png", alt: "services - Marketing and SEO", size: "250x250") %></div>
      </div>
    </div>

    <div id="parallax-text" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">METRICS & REPORTING</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="parallax-sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
      </div>
      <div class="parallax__layer parallax__layer--body">
        <div class="parallax-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </div>
      </div>
      <div class="parallax__layer parallax__layer--image">
        <div class="parallax-image"><%= image_tag("services/design300x300.png", alt: "services - Marketing and SEO", size: "250x250") %></div>
      </div>
    </div>

    <div id="group5" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">Foreground Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
    <div id="group6" class="parallax__group">
      <div class="parallax__layer parallax__layer--back">
        <div class="title">Background Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
    <div id="group7" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
  </div>

</div>