<% provide(:title, 'Our Services') %>
<div class="tiled-image">
  <div class="container">
    <div class="the-team">


    <%= image_tag("team/rory.png", alt: "Rory Portrait", size: "456x500") %></br>
    <%= image_tag("team/rob.png", alt: "Rob Portrait", size: "456x500") %></br>
   </div>
 </div>

</div>