<% provide(:title, 'Our Services') %>
<div class="tiled-image">
  <div class="container">
    <div class="the-team">
      <div class="team-profile">
        <%= image_tag("team/rory.png", alt: "Rory Portrait", size: "300x329") %>
        <div class="bio">
          <h1>Rory</h1></br></br>
          <p>
            Rory is a...
          </p></br>
          <p>
            LinkedIn: 
          </p>
          <p>
            Twitter: 
          </p>
          <p>
            Facebook: 
          </p>
          <p>
            Pinterest: 
          </p>
        </div>
      </div>   
        
     <div class="team-profile">
        <%= image_tag("team/rob.png", alt: "Rob Portrait", size: "300x329") %>
        <div class="bio">
          <h1>Rob</h1></br></br>
          <p>
            Rob is a...
          </p></br>
          <p>
            LinkedIn: 
          </p>
          <p>
            Twitter: 
          </p>
          <p>
            Facebook: 
          </p>
          <p>
            Pinterest: 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>