
/* custom colours  */

$signature-red: #96273B;
$signature-yellow: #CEA137;
$signature-dark-grey: #434343;
$signature-light-grey: #949494;

/* custom colours end  */

*{
  margin: 0px;
  padding: 0px;
}

body{
  font: 11px Arial,Helvetica,sans-serif;
  color: white;
  text-align: center;
  background-color: $signature-dark-grey;
  margin:0 auto;
}

.container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  background-color: $signature-red;
}

.pull-left{
  float: left;
}

.reset-float{
  clear: both;
}

/* Header */

header{
  height: 110px;
  width: 900px;
  background-color: none;
  margin: none;
  padding: 0px 20px 150px 20px;
  border: none;
  .logo{
    width: 245px;
    height: 110px;
  }
  .logo-lines{
    width: 655px;
    height: 110px;
  }
}

.header-lines{
  width: 100%;
}

.fixed-header{  
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white; 
  top: 0px;
  left: 0px;
  line-height: 28px;
  font-size:12px;; 
  z-index:994;
}

  .navigation{
    position: relative;
    bottom: -65px;
    text-align: right;
    overflow: hidden;
    a{
      font: 16px Arial,Helvetica,sans-serif;
      color: white;
      text-decoration:none;
    }
    a:hover, a.on {
      color: $signature-yellow;
    }
    a.selected{
      color: $signature-light-grey;
    }

    ul li {
      display: inline;
    }
  }

/* Header end */

/* Footer */

footer{
  background-color: white;
  height: 200px;
  width: 900px;
  padding: 20px;
  margin-top: 300px;
  color: $signature-dark-grey;
  font: 16px Arial,Helvetica,sans-serif;
  font-weight: bold;
  text-align: left;
  li{
    list-style-type: none;
  }
}

/* Footer end */


/* Home icons */

web-development-icon{
  height: 260px;
  width: 940px;
}

.big-icon{
  display:inline;
  height: 260px;
  width: 260px;
  margin: 20px 20px 20px 20px;
}