
/* custom colours  */

$signature-red: #96273B;
$signature-yellow: #CEA137;
$signature-dark-grey: #434343;
$signature-light-grey: #949494;

/* custom colours end  */

*{
  margin: 0px;
  padding: 0px;
}

body{
  font: 11px Arial,Helvetica,sans-serif;
  color: white;
  text-align: center;
  background-color: white;
  margin:0 auto;
  background-image: image-url('mainbackgroundimagelowquality.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  background-color: none;
}

.pull-left{
  float: left;
}

.reset-float{
  clear: both;
}

/* Footer */

footer{
  width: 100%;
  background-color: $signature-red;
  .top-footer{
    background-color: none;
    height: 100px;
    width: 940px;
    padding: 20px;
    margin-top: 300px;
    color: $signature-dark-grey;
    font: 16px Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: left;
    li{
      list-style-type: none;
    }
  }
  .bottom-footer{
    background-color: white;

    width: 900px;
    padding: 20px;
    color: $signature-red;
    font: 11px Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;    
  }
}

/* Footer end */

/* Header */

header{
  height: 110px;
  width: 940px;
  background-color: none;
  margin: none;
  padding: 0px 0px 150px 0px;
  border: none;
  .logo{
    padding-top: 50px;
    width: 100%;
    text-align: center;
  }
}

.navigation{
  width: 100%;
  text-align: center;
  overflow: hidden;
  a{
    font: 24px Arial,Helvetica,sans-serif;
    color: $signature-red;
    text-decoration:none;
    font-weight: normal;
  }
  a:hover, a.on {
    color: $signature-yellow;
  }
  a.selected{
    color: $signature-light-grey;
  }

  ul li {
    display: inline;
  }
}

/* Header end */


/* Home */

