<header class="fixed-header">
  <div class="logo pull-left">
    <%= link_to image_tag("shakin8_logo-245x110.png", alt: "Rails", size: "245x110"), root_path, class: "pull-left"%>
  </div>
  <div class="logo-lines pull-left">
    <%= image_tag("shakin8_lines_10x110.png", alt: "Rails", size: "695x110", class: "header-lines") %>
  </div>
  <nav>
  </nav>  
</header>